
.nav {
    display: flex;
    justify-content: center;

    * {
        font-size: large;
    }
}

.ant-modal-header,
.ant-modal-footer,
.ant-modal-close {
    display: none;    
}

.ant-modal-body {
    padding: 0;
}