#root, #app {
    font-family: 'Kalam', cursive;
    font-size: 20px;
    width: 100%;
    height: 100vh;
    @media (max-width: 1200px) {
        height: auto;
    }
}


.loading {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.layout {
    width: 100%;
    height: 100%;
}

.content {
    min-height: 700px;
    width: 100%;
    height: 80%;
    background: url("./img/pintorrea.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}