.wrapPaintModes {
    height: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.icons {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}