.wrapGameContent {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../img/pintorrea.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .gameContent {
        width: 90%;
        height: 80%;
        display: flex;
        justify-content: space-around;
    
        .drawContainer {
            width: 60%;
            min-width: 700px;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;

            .canvasControls {
                width: 100%;
                height: 10%;
            }

        }
    
    }

}