$height-title: 30px;

.containerRooms {
    width: 50%;
    min-width: 400px;
    background-color: #001529;
    border-radius: 4px;
    margin-right: 20px;

    .title-rooms {
        height: $height-title;
        color: white;
        text-align: center;
        padding: 0;
        margin: 0;
    }

    .wrap-rooms {
        height: calc(100% - #{$height-title} - 50px);
        overflow: auto;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;

        &::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
            border-radius: 10px;
            background-color: #F5F5F5;
        }

        &::-webkit-scrollbar {
            width: 12px;
            background-color: #F5F5F5;
        }

        &::-webkit-scrollbar-thumb {
            border-radius: 10px;
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
            background-color: #555;
        }

        .card-room {
            margin: 10px;
            width: 80%;
            color: white;
            height: 150px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 10px;
            border-radius: 8px;
            border: 1px solid white;

            .title {
                width: 100%;
                text-align: center;
            }

            .users-profiles {
                width: 90%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
                margin-bottom: 5px;
            }
        }
    }
}