$height-title: 30px;

.containerRooms {
    width: 50%;
    background-color: #001529;
    border-radius: 4px;
    margin-right: 20px;
    min-width: 450px;
    max-height: 500px;

    .wrapBtn {
        display: block;
        
        .btnCreatePrivate {
            text-align: center;
            width: 50%;
            max-width: 50%;
            background-color: #008CFF;
            color: white;
            border: none;
        }
        
        .btnJoinPrivate {
            width: 50%;
            background-color: red;
            color: white;
            border: none;
        }
    }


    .title-rooms {
        height: $height-title;
        color: white;
        text-align: center;
        padding: 0;
        margin: 0;
    }

    .wrap-rooms {
        height: calc(100% - #{$height-title} - 50px);
        overflow: auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);

        &::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
            border-radius: 10px;
            background-color: #F5F5F5;
        }

        &::-webkit-scrollbar {
            width: 12px;
            background-color: #F5F5F5;
        }

        &::-webkit-scrollbar-thumb {
            border-radius: 10px;
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
            background-color: #555;
        }

        .card-room {
            margin: 10px;
            max-height: 240px;
            color: white;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 10px;
            border-radius: 8px;
            border: 1px solid white;

            .title {
                width: 100%;
                text-align: center;
            }
        }
    }
}