
.css-3pxmmn {
    z-index: 100 !important;
}

.modal {
    padding: 40px;
    outline: none;
    background: white;
    font-size: 1.6rem;
    justify-content: space-between;
    z-index: 150;
    border-radius: 4px;
    width: 30rem;
    min-height: 194px;
    
    will-change: transform;
    transform: translate3d(0, 0, 0);
      
    @media (max-width: 768px) {
        .modal {
            width: 100%;
            max-width: 100%;
            margin-bottom: 0;
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
        }
    }
}

.userProfile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;

    .userName {
        width: 100%;
    }

    .image {
        position: absolute;
        top: -20px;
        left: 50%;
        transform: translate(-50%, -20px);
        border: 1px solid black;
    }

    .close {
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
    }

    h2 {
        margin-top: 10px;
        margin-bottom: 0px;
        padding-bottom: 0px;
        text-align: center;
    }

}

.loading {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}