.wrapRanking {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .ranking-table {
        overflow: auto;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 70%;
        min-width: 400px;
        min-height: 90%;
        max-height: 90%;
        background-color: rgba(0, 21, 41, 1);
        border-radius: 4px;

        &::-webkit-scrollbar-track {
            background-color: rgba(0, 21, 41, 1);
        }

        &::-webkit-scrollbar {
            width: 5px;
            background-color: #f5f5f5;
        }

        &::-webkit-scrollbar-thumb {
            border-radius: 5px;
            background-color: #79222d;
        }

        .title {
            position: relative;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            h1 {
                color: white;
                text-align: center;
            }
            
            span {
                color: goldenrod;
                position: absolute;
                bottom: 0;
                right: 0;
                font-size: 12px;
            }
        }

        .wrapUsers {
            width: 90%;

            .wrapUser {
                color: goldenrod;
                border-radius: 4px;
                margin-top: 30px;
                width: 100%;
                height: 100px;
                min-height: 100px;
                background-color: white;
                display: flex;
                justify-content: flex-start;
                align-items: center;

                .rank {
                    color: #79222d;
                    font-weight: bold;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 20%;
                    height: 100%;
                }

                .avatar {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    width: 20%;
                    margin-right: 15px;

                    .name {
                        color: #79222d;
                    }
                }

                .stats {
                    width: 60%;
                    height: 100%;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;

                    .games {
                        font-size: 15px;
                        height: 100%;
                        width: 50%;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: flex-start;

                        .totalPoints {
                            color: green;
                        }

                        .totalGames {
                            color: green;
                        }
                    }

                    .victories {
                        width: 50%;
                        height: 100%;
                        padding: 10px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
                    }
                }
            }
        }
    }
}
