
.wrapUsers {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    .user {
        width: 100%;
        background-color: #001529;    
        color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
        padding: 5px;
        border-radius: 4px;
        font-size: 1rem;
        position: relative;
        
        .wrapNamePoints {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }

    span {
        text-align: center;
    }

    .you {
        color: #0CFF00;
    }

    .drawer {
        position: absolute;
        left: 45px;
        top: 15px;
    }

}

.guessed {
    background-color: #E6E82D;
}
