
#root, #app {
    font-family: 'Kalam', cursive;
    font-size: 20px;
    width: 100%;
    height: 100vh;
}

.loading {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.layout {
    width: 100%;
    height: 100%;
}

.header {
    min-height: 7%;
    width: 100%;
}

.content {
    width: 100%;
    height: 80%;
    background: url("../img/pintorrea.jpeg");
}

.footer {
    min-height: 7%;
}