.content {
    width: 100%;
    min-height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main-home {
    height: 90%;
    width: 90%;
    border-radius: 8px;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
}

