.content {
    width: 100%;
    min-height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main-home {
    height: 90%;
    width: 90%;
    max-width: 1500px;
    max-height: 600px;
    border-radius: 8px;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
}

.wrapQuestion {
    border-radius: 4px;
    background-color: #001529;
    padding: 30px;
    display: flex;
    flex-direction: column;

    .center {
        display: flex;
        justify-content: center;

        .btnJoin {
            border: none;
            background-color: rgb(36, 192, 36);
        }
    }

    span {
        color: white;
        font-size: 15px;
    }
}