.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main-home {
    height: 80%;
    width: 80%;
    border-radius: 8px;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
}

