.wrapModal {
    position: absolute;
    display: none;
    z-index: 1;
    left: 0;
    top: 0;
    transition: opacity 1s;
    background-color: rgba(0, 0, 0, 0.5);
}

.show {
    display: block;
    z-index: 20;
    opacity: 1;
}

.hide {
    opacity: 0;
}   