
.wrap-chat {
    padding: 10px;
    width: 400px;
    min-width: 400px;
    background-color: #001529;
    margin-left: 20px;
    
    .text-chat {
        height: 96%;
        max-height: 96%;
        width: 100%;
        padding: 10px;
        overflow: auto;
    
        p {
            word-break: break-all;
        }

        .item-user-chat {
            color: white;

            .username {
                color: whitesmoke;
            }
        }

        .item-admin-chat {
            color: chartreuse;
        }

    }

}

