.wrapForm {
    
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .message {
        color: white;
    }

    .login-form {
        min-width: 450px;
        min-height: 300px;
        width: 30%;
        background-color: #001529;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0px -1px 15px 0px rgba(0,0,0,0.75);
    }

    .wrapButtonsLogin {
        display: flex;
        justify-content: space-around;
    }
}

.ant-form-item-label > label {
    color: white;
}