
.wrap-chat {
    width: 400px;
    min-width: 400px;
    max-width: 400px;
    background-color: #001529;
    border-radius: 4px;
    
    .text-chat {
        padding: 10px;
        height: 96%;
        max-height: 96%;
        width: 100%;
        padding: 10px;
        overflow: auto;

        &::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
            border-radius: 10px;
            background-color: #F5F5F5;
        }

        &::-webkit-scrollbar {
            width: 12px;
            background-color: #F5F5F5;
        }

        &::-webkit-scrollbar-thumb {
            border-radius: 10px;
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
            background-color: #555;
        }
    
        p {
            word-break: break-all;
            margin: 5px;
        }

        .item-user-chat {
            color: white;

            .username {
                color: whitesmoke;
            }
        }

        .item-admin-chat {
            color: chartreuse;
        }

    }

    .formMessage {
        width: 100%;
    }

}

