.wrapProfile {
    width: 500px;
    background-color: #001529;
    padding: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    color: white;

    .ant-upload {
        display: flex;
        justify-content: center;

        img {
            cursor: pointer;
        }
    }

    h1 {
        color: white;
    }

    .wrapButtons {
        width: 100%;
        display: flex;
        justify-content: center;
    }

}
