.wrapPreRoom {
    width: 100%;
    height: 100vh;
    max-height: auto;
    display: flex;
    justify-content: center;
    align-items: center;

    .wrapper {
        background-color: #001529;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;

        .preRoom {
            position: relative;
            max-width: 1000px;
            width: 50%;
            min-width: 700px;
            display: flex;
            justify-content: space-between;

            h3,
            h2 {
                padding: 0;
                margin: 0;
                color: white;
                text-align: center;
            }

            .btnLeave {
                position: absolute;
                background-color: red;
            }

            .settings {
                min-height: 100%;
                width: 50%;
                display: flex;
                align-items: center;
                flex-direction: column;

                .btnStart {
                    width: 200px;
                    color: white;
                    border: none;
                    background-color: rgb(105, 160, 22);
                }
            }

            .players {
                margin-left: 5px;
                padding-left: 5px;
                width: 50%;
                display: flex;
                justify-content: flex-start;
                flex-direction: column;
                border-left: 1px solid white;

                .wrap-chat {
                    min-width: 0px;
                    width: 100%;
                    height: 400px;
                    margin-bottom: 20px;
                }

            }
        }

        .shareLink {
            padding: 10px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 5px;
            width: 100%;
            border-top: 1px solid white;

            .wrapUrl {
                display: flex;
                justify-content: center;
                width: 100%;
            }

            span {
                color: white;
                text-align: center;
            }
        }
    }

    .divider {
        margin-top: 5px;
    }
}


.center {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .avatar-box {
        margin: 3px;
    }
}