
.wrapGameProgress {
    display: flex;
    padding: 0px 10px;
    height: 100%;
    
    .timeRoundWrap {
        width: 230px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        .round {
            color: white;
            margin-left: 5px;
        }

        .time {
            padding: 0;
            margin: 0;
            color: white;
            text-align: center;
            width: 50px;
        }

    }
    
    .wrapWord {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        
        .word {
            color: white;
            user-select: none;
            letter-spacing: 10px;
            margin-bottom: 0px;
        }
    }
}