
.wrapGameProgress {
    display: flex;
    padding: 0px 10px;
    
    .time {
        color: white;
        text-align: center;
        width: 50px;
    }
    
    .wrapContent {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        
        .word {
            color: white;
            user-select: none;
            letter-spacing: 10px;
        }
    }
}