.wrapPuntuationTable {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: white;

    .wordWas {
        text-align: center;
        width: 80%;
        font-weight: bold;
        font-size: 2rem;
    
        .word {
            color: whitesmoke;
        }
    }

    .finalStatus {
        font-size: 1rem;
    }

    .usersTable {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50%;
        font-size: 2rem;

        .userPuntuation {
            width: 100%;
            display: flex;
            justify-content: space-between;

            .name {
                color: whitesmoke;
            }

            .points {
                color: green;
            }

        }

    }

}